/* .questionCard {
} */

.questionCard .title {
  background-color: lavender;
}

.questionCard .answers {
  background-color: black;
}

ul li {
  list-style-type: none;
}

.hide {
  display: none;
}

/* override normal ul li styling */
