.questionCard {
  background-color: lavender;
}

.questionCard .title {
  background-color: maroon;
}

.questionCard .answers {
  background-color: black;
}

ul li {
  background-color: pink;
}

/* override normal ul li styling */
